.gameCard {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  background-color: #fff;
  border: none;
  outline: 1px solid #ddd;
  max-width: 450px;
}

.gameCard>.body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "away time"
    "home time";
  grid-gap: 0.5em;
}

.gameCard>.body>.home {
  grid-area: home;
}

.gameCard>.body>.away {
  grid-area: away;
}

.gameCard>.body>.time {
  grid-area: time;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  font-weight: lighter;
  border-left: 1px solid #ddd;
}

.gameCard>.footer {
  font-size: 0.7em;
  font-weight: lighter;
  line-height: 1.3;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

.gameCard>.footer>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameCard img {
  margin-bottom: unset;
}