@import "../node_modules/normalize.css/normalize.css";
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import "./theme.scss";
@import "../node_modules/sakura.css/scss/main";

body {
  max-width: unset;
  padding: unset;
}

main {
  padding: 0.5em;
}