@import "./theme.scss";

.nav > ul {
  display: flex;
  margin: 0;
  padding-left: 0;
  justify-content: space-between;
}

.nav > ul > li {
  list-style-type: none;
  font-variant-caps: petite-caps;
  margin: 0.5em 0;
}

.nav > ul > li.brand {
  font-weight: bold;
}

.nav a {
  color: $color-text-alt;
  text-decoration: underline;
}
