@import "./theme.scss";

.day {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}

.day>div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5em;
}

@media screen and (min-width: 600px) {
  .day>div {
    grid-template-columns: repeat(2, 1fr);
  }
}

.day>h2 {
  position: sticky;
  top: calc(0.8em + 6px);
  background-color: $color-fade;
  z-index: 1;
  padding: 7px 13px;
  filter: drop-shadow(0 1px 1px #333);
  color: $color-text-alt;
  font-weight: normal;
}