.day {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
}

.day>h2 {
  position: sticky;
  top: 0;
  /* TODO: pull this from sakura */
  background-color: #f9f9f9;
  z-index: 1;
  padding: 0.2em;
  /* this covers up each card's outline on scroll, completing the sticky effect */
  margin-left: -1px;
  margin-right: -1px;
}