$color-blossom: #4d465d;
$color-fade: #81749b;

$color-bg: rgba(255,255,255, 1);
$color-bg-alt: #f9f9f9;
$color-border: rgba(232,230,236, 1);
$color-border-alt: rgba(255,255,255, 0.08);

$color-text: #4a4a4a;
$color-text-alt: #fff;
$font-size-base: 1.8rem;

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$font-family-heading: $font-family-base;

$shadow-color: rgba(193,189,201, 1);
